# `v` with no arguments opens the current directory in Vim, otherwise opens the
# given location
function v() {
  if [ $# -eq 0 ]; then
    vim .
  else
    vim "$@"
  fi
}

# MacOS tags
function tag() {
  mdfind "tag:$1" | sort
}

# Grammar checker using tgpt
function grammar() {
  if [ $# -eq 0 ]; then
    echo "Usage: grammar <text>"
    return 1
  elif  [ -x "$(command -v tgpt)" ]; then
    tgpt "Correct my grammar: '$*'"
  fi
}
